<%- include('../includes/main-head.ejs') %>

<!-- STYLES -->
<!-- <link rel="stylesheet" href="/styles/profile-settings.css"> -->
<!-- SCRIPTS -->
<script src="/scripts/auth-registration-form.js" defer></script>

  <main>

    <a href="/profile-settings"><- Account Management</a>

    <header>
      <h1>CHANGE USERNAME</h1>
    </header>

    <% if (!isUpdateAvailable) { %>

      <label for="username-form" id="form-error" style="color: red;"><%= %>You have wait 14 days before next user name updte.</label>

    <% } else { %>

      <form id="username-form" name="username-form" action="/profile-name" method="POST">
        
        <p>You can change your username displayed in the game and on playfab.pl websites. Username change is available once every 14 days.</p>       
        <!-- User first name input -->
        <label for="first-name">1. Enter a new first name:</label><br>
        <input type="text" id="first-name" name="firstName" class="registration-input" value="<%= 
          typeof inputs !== 'undefined' ? inputs.firstName : ''
        %>">
        <br><label for="first-name" id="first-name-error" style="color: red;">
          <%= typeof errors !== 'undefined' ? errors.firstName : '' %>
        </label>
        <br>

        <!-- User last name input -->
        <label for="last-name">1. Enter a new last name:</label><br>
        <input type="text" id="last-name" name="lastName" class="registration-input" value="<%= 
          typeof inputs !== 'undefined' ? inputs.lastName : ''
        %>">
        <br><label for="last-name" id="last-name-error" style="color: red;">
          <%= typeof errors !== 'undefined' ? errors.lastName : '' %>
        </label>
        <br>

        <!-- User payment input -->
        <!-- <label for="price-accept">2. Accept a payment method:</label><br>
        <p>Price: 100 gold</p>
        <p>Your gold: <%= user.gold %></p>
        <% if (user.gold < 100) { %>
          <p style="color:red">You do not have enough gold</p>
        <% } else { %>
          <p>It will remain in your account <%= user.gold - 100 %></p>
          <input type="checkbox" id="price-accept" name="isPriceAccepted" class="registration-input">
          <br><label for="price-accept" id="price-accept-error" style="color: red;">
            <%= typeof errors !== 'undefined' ? errors.price : '' %>
          </label>
          <br>
          <input type="submit" id="form-submit-btn" name="formSubmitBtn" value="Change" >
          <% } %> -->
          
        <input type="submit" id="form-submit-btn" name="formSubmitBtn" value="Change" >
      
      </form>

    <% } %>

  </main>

  <div style="clear: both"></div>
  
<%- include('../includes/main-footer.ejs') %>